{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="h5">
    <a href="{% url 'cf_account:account' %}">Account</a> >
    <a href="{% url 'cf_account:account_http_list' account.id %}">{{ account.name }} HTTPs</a>
    > Http {% if is_update %}수정{% else %}등록{% endif %}
  </div>
</div>

<div class="row my-3">
  <div class="col-md-5">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="mt-3">
        <button type="submit" value="submit" class="btn btn-primary">저장하기</button>
        {% if is_update %}
        <a href="{% url 'cf_account:account_http_delete' http.id %}" class="btn btn-danger">삭제하기</a>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock content %}
{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  var urlInput = document.querySelector('input[name="url"]');
  if (urlInput) {
    urlInput.addEventListener('blur', function() {
      var val = urlInput.value.trim();
      if (val && !val.startsWith('http://') && !val.startsWith('https://')) {
        urlInput.value = 'https://' + val;
      }
    });
  }
});
</script>
{% endblock script %}