{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="h5">
    <a href="{% url 'cf_account:account' %}">Account</a>
    > 생성
  </div>
</div>

<div class="row my-3">
  <div class="col-md-5">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="mt-3">
        <button type="submit" value="submit" class="btn btn-primary">저장하기</button>
        {% if object.pk %}
        <a href="{% url 'cf_account:account_delete' object.pk %}" class="btn btn-danger ms-2">삭제하기</a>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock content %}