{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="h5">
    <a href="{% url 'common:user' %}">User</a>
    > {{ object.username }}
    > 수정
  </div>
</div>

<div class="row my-3">
  <div class="col-md-5">
    <div class="my-2">{{ object.username }}</div>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="mt-3">
        <button type="submit" value="submit" class="btn btn-primary">수정하기</button>
        <a href="{% url 'common:user_delete' object.id %}" class="border btn btn-danger">삭제하기</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}