{% load common_tags %}
<nav id="sidebarMenu" class="col-lg-2 d-lg-block bg-body-tertiary sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link {% menu_active 'monitor:http_list' %}" href="{% url 'monitor:http_list' %}">
          <span data-feather="globe" class="align-text-bottom"></span>
          HTTPs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% menu_active 'monitor:monitor_result' %}" href="{% url 'monitor:monitor_result' %}">
          <span data-feather="archive" class="align-text-bottom"></span>
          Monitoring Logs
        </a>
      </li>
      <hr class="my-3 border-secondary opacity-50">
      <li class="nav-item">
        <a class="nav-link {% menu_active 'common:user' %}" href="{% url 'common:user' %}">
          <span data-feather="users" class="align-text-bottom"></span>
          User
        </a>
      </li>
    </ul>
  </div>
</nav>